_site/*
_theme_packages/*
assets/css/.sass-cache/*
assets/css/*style.css
.sass-cache/*

**/*~
**/features_report.html

talywy.github.io/_*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
Gemfile.lock
/.idea
/.sass-cache
/.gitattributes
/assets/css/ie8.css
/assets/css/ie9.css
/assets/css/running-best-efforts.css
